.wrapper {
  width: 100%;
  max-width: 80%;
  margin: auto;
  border: 1px solid black;

  .card {
    margin: 15px;
  }
  .figuras-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px 5px;
  }
  .container-elementos {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 2px;
    margin: auto;

    .celda {
      width: 45px;
      height: 15px;
    }
  }
}
