.wrapper {
  width: 100%;
  max-width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 0px 5px 5px grey;

  .card {
    margin: 15px;
    position: relative;
    .card-title {
      margin: 5px 7px;
    }
    .delete {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
  .figuras-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px 5px;
  }
  .container-elementos {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 2px;
    margin: 10px auto;

    .celda {
      width: 45px;
      height: 15px;
    }
  }
  .nav {
    border-bottom: 1px solid gray;
    padding: 5px;
  }
  .add {
    margin: 10px 8px;
  }
  .tabla-modalidades {
    margin: 20px auto;
    text-align: center;
  }
}
