.container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 90px);
  gap: 3px;
  width: 100%;
}

.celda {
  width: 92px;
  height: 26px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 3px;
  background-color: lightgray;
}

.selected {
  background-color: lightskyblue;
}
