.container-matrix {
  width: 100%;
  max-width: 75%;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 5px 10px;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.matrix {
  .form-group {
    #nombre {
      max-width: 50%;
      margin: 0 15px;
      display: inline;
    }
  }
  .crear {
    text-align: center;
    .crear-figura {
      max-width: 20%;
      margin: 15px 0 20px 0;
    }
  }
}

.celda {
  width: 92px;
  height: 26px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 3px;
  background-color: lightgray;
}

.selected {
  background-color: lightskyblue;
}
