.perfil {
  width: 100%;
  max-width: 70%;
  margin: 80px auto;
  box-shadow: 0px 2px 10px grey;
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

.icono {
  max-width: 25px;
  margin: 5px 15px 0 15px;
}
.datos {
  display: flex;
  align-items: center;
}
